{{! Navbar starts here..... }}
<nav
  style="height: 10vh;"
  class="navbar navbar-expand-sm navbar-light bg-light"
>
  <div class="container">
    <a class="navbar-brand" href="#">Carify</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="http://localhost"
            aria-current="page"
          >Home
            <span class="visually-hidden">(current)</span></a>
        </li>

      </ul>
      <form class="d-flex my-4 my-lg-2">
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="signin">
              <img
                src="../static/homepage_Css/images/signin.png"
                height="35px"
                width="35px"
              />
            </div></a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a
              class="dropdown-item"
              href="http://localhost/passenger/login"
            >Passenger</a>
            <a
              class="dropdown-item"
              href="http://localhost/driver/login"
            >Driver</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</nav>
{{! Navbar ends here.... }}