<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

<div class="container">
    <h1 class="text-center">Create Cab</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>
                
                <div>
                    <label for="carno">Cab Number</label>
                    <input type="text" name="carno" id="carno" class="form-control">
                </div>
                
                {{!-- Dropdown --}}
                <div class="d-grid mt-4">
                <label for="type">Type:</label>
                
                <select name="type" id="type" name ='type' class="form-control">
                <option value="Hatchback">Hatchback</option>
                <option value="Sedan">Sedan</option>
                <option value="SUV">SUV</option>
                <option value="Luxury">Luxury</option>
                </select>
                </div>
                {{!-- Dropdown ends --}}
                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>